<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Samsung Health Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.samsung.android.health.permission.read" />
    <uses-permission android:name="com.samsung.android.health.permission.write" />
    <uses-permission android:name="com.samsung.android.sdk.health.permission.read" />
    <uses-permission android:name="com.samsung.android.sdk.health.permission.write" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />

    <queries>
        <package android:name="com.samsung.android.health" />
    </queries>

    <application
        android:name=".health.RedMedAlertApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedMedAlertAndroidApp"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.RedMedAlertAndroidApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".TestActivity"
            android:exported="false" />

        <activity
            android:name=".SensorTestActivity"
            android:exported="true"/>

        <activity
            android:name=".notification.NotificationSettingsActivity"
            android:exported="false"/>

        <activity
            android:name=".auth.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.ResetPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".splash.UserDataCompletionActivity"
            android:exported="false" />

        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".settings.ServerConfigActivity"
            android:exported="false"
            android:label="Configurare Server" />

        <service
            android:name=".health.HealthMonitoringService"
            android:exported="false" />

        <!-- Samsung Health SDK metadata -->
        <meta-data
            android:name="com.samsung.health.sdk.AppId"
            android:value="com.feri.redmedalertandroidapp" />

        <!-- Samsung Health App ID -->
        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.feri.redmedalertandroidapp" />

        <meta-data
            android:name="com.samsung.health.sdk.HealthProviderAuthService"
            android:value=".health.HealthProviderAuthService" />
    </application>

</manifest>